<div class="container-fluid">
    <div class="header">
        <h2>Appointment Details</h2>
    </div>

    <div class="card bg-card">
        <div class=" bg-row">
            <!-- <div class=" bg-image_part">
                <img src="stethoscope.png" />
            </div> -->
            <div class="card inner">
                <div class="row">
                    <div class="col-sm-12 col-md-6 p-4" >
                        <p>Doctor: {{basicDetails.doctor_name}}</p>
                        <p>Date: {{basicDetails.appointmentDate}}</p>
                        <p>Time: {{basicDetails.timeSlot}}</p>
                        <p>Booking fee: {{details.bookingFee}}</p>
                        <!-- <p>Consultation fee:{{details.consultationCharge}}</p> -->
                    </div>
                    <div class="col-6 col-md-12">
                        <!-- <p>John</p>
                    <p>11-25-2024</p>
                    <p>10:00</p>
                    <p>{{details.bookingFee}}</p>
                    <p>{{details.consultationCharge}}</p> -->
                        <img src="v868-sasi-01.jpg" />

                    </div>
                    <div class="details">
                        <div class="bg-blur">
                            <form action="" [formGroup]="patientDetails">
                                <h3>Patient Details</h3>
                                <div class="form-group">
                                    <label for="patientName">Patient Name:</label>
                                    <input type="text" class="form-control" id="patientName" formControlName="name"
                                        placeholder="Enter patient's name">
                                </div>
                                <div class="form-group">
                                    <label for="patientEmail">Contact number:</label>
                                    <input type="number" class="form-control" id="patientEmail" formControlName="phone" (input)="restrictToNumbers($event)"
                                        placeholder="Enter contact number" >
                                        <div *ngIf="patientDetails.get('phone')?.invalid && (patientDetails.get('phone')?.touched || patientDetails.get('phone')?.dirty)">
                                            <small *ngIf="patientDetails.get('phone')?.errors?.['required']">Phone number is required.</small>
                                            <small *ngIf="patientDetails.get('phone')?.errors">Enter a valid phone number.</small>
                                          </div>
                                </div>
                                <button type="button" (click)="submit()">Confirm Booking</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>