// .header {
//     padding: 2px;
//     text-align: center;
//     background: linear-gradient(to right, #f89021, #f3612e);
//     border-radius: 4px;
//     margin-top: 1%;
//     color: white;
// }

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f89021 50%, #f3612e);
  
    backdrop-filter: blur(12px);
    width: 100%;
    height: 68px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    i {
        color: white;
    }
  }
  
  .header span {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 30px;
    color: white;
    flex-grow: 1;
  }

.bg-card {
    padding: 11px;
    background-color: white;
    height: 80vh;
    // background-image: url('./../../../../public/stethoscope.png');
    /* Background image */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    vertical-align: baseline;
    justify-content: center;
    margin-top: 5px;
}

.inner {
    font-size: large;
    font-weight: 500;
    padding: 10px;
    background-color: #f7f7f7;
   
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 100%;
    border-radius: 25px;
    display: block;
    align-items: center;
    justify-content: center;
    height: auto;
}

form {
    padding: 10px;

    h3 {
        text-align: center;
    }

    label {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: large;
        font-weight: 600;
    }

    button {
        border: none;
        border-radius: 4px;
        padding: 4px;
        background: linear-gradient(to bottom, #f89021 50%, #f3612e);
        margin-top: 5px;
        color: white;
        font-weight: 400;
        float: right;
    }

}

.bg-blur {
    backdrop-filter: blur(15px);
    width: 50%;
}

.bg-row {
    display: flex !important;
    flex-direction: row !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 426px) {
    .bg-row {
        display: flex !important;
        flex-direction: row !important;
    }

    .bg-blur {
        width: 100% !important;
    }
    
    .subbtn{
        display: flex !important;
        justify-content: center !important;
    }
    /* Styles for mobile devices */
}

@media only screen and (max-width: 1024px) {
    .bg-row {
        display: flex;
        flex-direction: row;
    }

    .inner {
        width: 100%;
    }

    .details {
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .subbtn{
            display: flex;
            justify-content: end;
        }
}

@media only screen and (max-width: 1280px) {
    /* Styles for small laptops */
}

.bg-row{
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-items: center;
    backdrop-filter: blur(12px);
    
}
img{
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(12px);

    
}

.bg-image_part{
    margin: 0px;
    border-radius: 25px;
    padding: 20px;
   // background: linear-gradient(to right, #f89021, #f3612e);
    
}

.bg-blur{
    width: 50%;
}
.row{
    height: 100%;
}
.col-6 img{
    width: 83%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.col-6 {
    display: flex;
    /* align-items: center; */
    /* flex: 0 0 auto; */
    width: 50%;
    /* justify-content: end; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.col-6 img{
    
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;  
    display: flex;
    justify-content: end;
    height: 35vh;
}

small {
    font-size: small;
    color: red;
    font-weight: 400;

}

