<div class="container-fluid">
<div class="header">
    <h2>Doctors</h2>
</div>
<div class="doctors">
    @for (doctor of doctors; track $index) {
    <div  class="doctor" (click)="doctorNav(doctor)">
        <div class="doctor-image">
            <img [src]="doctor.img" alt="Doctor Image">
        </div>
        <div class="doctor-details">
            <h3>{{ doctor.name }}</h3>
            <p>{{ doctor.specialization }}</p>
            <p>{{ doctor.experience }} years of experience</p>
            <p>{{ doctor.location }}</p>
        </div>
    </div>
}
</div>
</div>
